.container-pin{
    background-color:#F1F1F1;
    padding:10px 20px;
    padding-bottom: 20px;
}

.container-pin h3{
    margin-top:10px;
    margin-bottom: 10px;
}

.frm-pin label {
    font-weight: bold;
    font-size: 14px;
}

.frm-pin label span{
    color:darkred;
    margin-left: 10px;
}

.frm-pin .button{
    cursor:pointer;
    margin-top:20px;
    background-color: #0073AA;
    padding:10px 20px;
    color: white;
    border: none;
    text-transform: uppercase;
    border-radius: 4px;
}

.frm-pin .button:hover{
    background-color: #034767;
}

.frm-pin .container-policy{
    margin-top:16px;
}

.frm-pin .container-policy label{
    font-weight: normal!important;
}

.frm-pin .container-policy a{
    text-decoration: underline;
}

.frm-pin .container-policy input{
    width:20px;
    height: 20px;
}