.container-pin {
  /* background-color: #f1f1f1; */
  padding: 10px 20px;
  padding-bottom: 20px;
}

.container-pin h3 {
  margin-top: 10px;
  margin-bottom: 10px;
}

.frm-pin label {
  font-weight: bold;
  font-size: 14px;
}

.frm-login label span,
.frm-pin label span {
  color: darkred;
  margin-left: 10px;
}

.frm-login .button,
.frm-pin .button {
  cursor: pointer;
  margin-top: 20px;
  background-color: #bc2427;
  padding: 10px 20px;
  color: white;
  border: none;
  text-transform: uppercase;
  border-radius: 4px;
  font-size: 15px;
  display: inline-block;
  vertical-align: middle;
}

.frm-login .button:hover,
.frm-pin .button:hover {
  background-color: #8d191f;
}

.frm-login label {
  font-weight: bold;
  font-size: 14px;
}

.frm-pin .container-policy {
  margin-top: 16px;
}

.frm-pin .container-policy label {
  font-weight: normal !important;
}

.frm-pin .container-policy a {
  text-decoration: underline;
}

.frm-pin .container-policy input {
  width: 20px;
  height: 20px;
}

.frm-login .message,
.frm-pin .message {
  background-color: #ceeed8;
  color: #005a1e;
  border: 1px solid #005a1e;
  font-size: 14px;
  padding: 5px 10px;
  border-radius: 4px;
  margin-top: 20px;
  margin-bottom: 10px;
}

.frm-login .message.error,
.frm-pin .message.error {
  background-color: #fed5da;
  color: #831c2c;
  border-color: #831c2c;
}

.frm-login .link {
  color: #bc2427;
}

.frm-login .link:hover {
  color: #8d191f;
}

.frm-login .link-container span {
  font-size: 12px;
}

.frm-login .link-container {
  margin-top: 12px;
  margin-bottom: 10px;
  font-size: 14px;
}

/*Spinner*/
.lds-ring {
  display: inline-block;
  position: relative;
  width: 12px;
  height: 12px;
}
.lds-ring div {
  box-sizing: border-box;
  display: block;
  position: absolute;
  width: 16px;
  height: 16px;
  margin: 3px;
  border: 3px solid gray;
  border-radius: 50%;
  animation: lds-ring 1.2s cubic-bezier(0.5, 0, 0.5, 1) infinite;
  border-color: gray transparent transparent transparent;
}
.lds-ring div:nth-child(1) {
  animation-delay: -0.45s;
}
.lds-ring div:nth-child(2) {
  animation-delay: -0.3s;
}
.lds-ring div:nth-child(3) {
  animation-delay: -0.15s;
}
@keyframes lds-ring {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
